.none {
  display: none;
}

body {
  background: rgba(0, 102, 255, 0.25);
  font-family: sans-serif;
  position: relative;
}

p {
  margin: 0 0 5px;
}
.mainform {
  align-items: flex-start;
  justify-items: left;
  min-width: 100%;
}

.left_colon {
  width: 65%;
  float: left;
  position: relative;;
}

.right_colon {
  width: 35%;
  float: left;
}

.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}
.test-input {
  margin: 0 5px 5px 0;
}

.add {
  min-width: 80%;
  align-content: center;
}
.add__author, .add__text, .add__btn, .add__avatar, .add__checkrule {
  display: flex;
  margin:10px;
  width: 95%;
}
.add__btn{
  width:25%;
}

.add__btn:disabled {
  background: #CCC;
  color: #999;
}


.postViewe {
  min-height: 60px;
  position: relative;
  background: rgba(72, 165, 44, 0.6);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 1%;
}
.smallPostView{
  min-height: 60px;
  position: relative;
  background: rgba(72, 165, 44, 0.6);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 10px 10px;
  padding: 1%;
}

.main_posts {
  position: relative;
  padding: 1%;
}
.small_posts {
  position: relative;
  justify-items:right;
  min-width: 9%;
  padding: 2%;
}
.posts_styler {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 10px;
  width: 95%;

}
.form_styler {
  position: relative;
  padding: 1%;

}
.post__author{
  font-size: 1.2em;
  box-sizing: content-box;
  text-align: left;
  margin: 10px;
  padding: 5px;
}

.avatar_style_large{
  float: left;
  height: 50px;
  width: 50px;
  margin:5px;
}

.avatar_style_small{
  float: left;
  height: 25px;
  width: 25px;
  margin:5px;
  }

.post__text{
  text-align: inherit;
}

.post__count{
  position: relative;
  float: right;
  margin:10px 30px 10px 10px;
}

